{{ define "main" }}
  <div class="home on-earth">
    <article class="home-page">
      <div class="hero">
        <div class="container">
          <p>
            <div class="slightly-dimmed">A project to</div>
            <div class="rad-purpose">
              <strong class="retrofit">Retrofit</strong> and
              <strong class="decommodify">Decommodify</strong> housing
              <strong class="collectively">Collectively</strong>, and in
              <strong class="solidarity">Solidarity</strong>
            </div>
            <div class="slightly-dimmed">in northern suburban Naarm</div>
          </p>
        </div>
      </div>

      <section class="retrofit on-stream-background">
        <div class="container">
          <div class="with-side-image image-right">
            <div class="beside-image">
              <h2>Retrofit</h2>
              <p>
                We all need homes designed for the climate crisis. Designed for rapidly de-carbonised lifestyles, resilience in the face of extreme weather, and able to grow food.
              </p>
              <p>
                Retrofitting existing homes is the fastest and most sustinable way to provide climate-ready housing, and Permaculturalists have already written up how to do this in temperate Naarm.
              </p>
            </div>
            <img src="/images/home/retrosuburbia.jpg" alt="The front cover of the book Retrosuburbia: The downshifter's guide to a resilient future by David Holmgren which shows people out the front of a suburban brick home, feading greens to some goats from the front of a Cargo bike." width="200" />
          </div>
        </div>
      </section>

      {{/*  {{ .Content }}  */}}
    </article>
  </div>
{{ end }}
