{{ define "main" }}
  <div class="home on-earth">
    <article class="home-page">
      <section class="home-hero">
        <div class="container">
          <h1>Welcome to the Brassica Collective</h1>
          <p>
            <div class="slightly-dimmed">We're building a multi-house collective spread across the northern suburbs of Naarm.</div>
          </p>
        </div>
      </section>

      <section class="rad">
        <div class="container">
          <p>
            We're a project implementing our version of <a href="https://radhousing.org">RAD Housing</a>, which aims to:
            <div class="rad-purpose">
              <strong class="retrofit">Retrofit</strong> and
              <strong class="decommodify">Decommodify</strong> housing
              <strong class="collectively">Collectively</strong>, and in
              <strong class="solidarity">Solidarity</strong>
            </div>
          </p>
        </div>
      </section>

      <section class="values on-cauli">
        <div class="container">
          <p>
            <strong>We use housing as a lever for transformative justice:</strong> stewarding homes to practice personal and collective change so we can act in solidarity with broader movements for justice.
          </p>
          <p>
            Through this work, <strong>we change ourselves</strong>.
          </p>
          <div class="section-link-container">
            <a class="section-link" href="/values">more about our Values</a>
          </div>
        </div>
      </section>

      <section class="project on-purple">
        <div class="container">
          <p>
            Our <strong>project</strong> supports changing capacity and resources.
          </p>
          <p>
            Each month we intentionally opt-in to collective governance and working crews. Even though the polycrisis feels urgent, we focus on having ways to contribute that work for different ways of thinking, being and doing.
          </p>
          <div class="section-link-container">
            <a class="section-link" href="/participation">how we Participate</a>
          </div>
        </div>
      </section>

      <section class="multi-house on-earth">
        <div class="container">
          <h2>What does multi-house collective mean to us?</h2>

          <p>
            Imagine having a room in a share-house in which you have the
            agency to shape your space, and the security that Australian rentals
            fail to provide.
          </p>

          <p>
            But life comes with changes, and we live in changing times. We want to be able to
            switch houses to get closer to a school or a job, or perhaps because we're struggling
            in a relationship and want to live further from someone for a while.
          </p>

          <p>
            To navigate this change, we imagine ending up as about fifty
            residents, spread across multiple share-houses, and perhaps some other kinds
            of dwellings with specialised features.
          </p>

          <div class="section-link-container">
            <a class="section-link" href="/participation">read about our Vision</a>
          </div>
        </div>
      </section>

      <section class="seedling on-gumleaf">
        <div class="container">
          <h2>🌱 Seedling House</h2>

          <p>
            Our first site will be called Seedling House. Right now, we're developing the the plan for
            what to buy, and how we'll use it.
          </p>

          <p>
            Our vision for Seedling house is that it will be <strong>A practice ground for community
            living</strong> ideally with at least five bedrooms, with capacity for participants and
            collaborates in the project to try out community by occasionally using the house for meals,
            working, events or staying the night.
          </p>

          <div class="section-link-container">
            <a class="section-link" href="/participation">about Seedling House</a>
          </div>
        </div>
      </section>


      {{/*  <section class="retrofit on-stream-background">
        <div class="container">
          <div class="with-side-image image-right">
            <div class="beside-image">
              <h2>Retrofit</h2>
              <p>
                We all need homes designed for the climate crisis. Designed for rapidly de-carbonised lifestyles, resilience in the face of extreme weather, and able to grow food.
              </p>
              <p>
                Retrofitting existing homes is the fastest and most sustinable way to provide climate-ready housing, and Permaculturalists have already written up how to do this in temperate Naarm.
              </p>
            </div>
            <img src="/images/home/retrosuburbia.jpg" alt="The front cover of the book Retrosuburbia: The downshifter's guide to a resilient future by David Holmgren which shows people out the front of a suburban brick home, feading greens to some goats from the front of a Cargo bike." width="200" />
          </div>
        </div>
      </section>

      <section class="decommodify on-stream-background">
        <div class="container">
          <h2>Decommodify</h2>

          <p>Our goal is to collectively buy around six suburban homes in inner northern Naarm suburbs, creating a multi-house cooperative of share-houses that gives us the agency to move around as our lives adapt to changing times.</p>

          <p>We don't need to personally own these homes to achieve that, we can take them off the market, and steward them for both present and future residents. We leverage what capital and income we have between us. There's no shares, no buy-in, and no special rights for putting in money.</p>
        </div>
      </section>

      <section class="collectively on-stream-background">
        <div class="container">
          <h2>Collectively</h2>
          <p>
            Collectivising resources like housing is already an economic necessity for many, and will become even more so. This makes it vital to get good at the skills of working together and navigating conflicts big and small.
          </p>
          <p>
            In the end, our project wont just house us, it'll help us change into the sort of people that we will need to be to in the coming decades. We can't afford to isolate ourselves from community, and we want a future that doesn't use oppression and punishment to resolve conflict.
          </p>
        </div>
      </section>

      <section class="solidarity on-stream-background">
        <div class="container">
          <h2>Solidarity</h2>

          <p>
            If we sound like "doomers" about the climate crisis, perhaps we are. Doomers in the movies build bunkers hide from the world. We recognise that our liberation is bound up together, and we want our work to be an ongoing project engaged in active solidarity with others on the frontlines of the climate and housing crises.
          </p>
          <p>
            Many of us in the Brassica Collective are also settlers on stolen Wurundjeri land. Any talk of stewarding housing for the future has to be firmly in the context of the ongoing struggle of all first-nations people for land back, justice and self-determination.
          </p>
        </div>
      </section>  */}}

      {{/*  {{ .Content }}  */}}
    </article>
  </div>
{{ end }}
