:root {
  /* RESPONSIVE */

  --breakpoint-sm: 480px;

  /* COLOURS */
  --earth0: #d1b5af;
  --earth1: #c19c94;
  --earth2: #a3867a;
  --earth3: #85625f;
  --earth4: #664945;
  --earth5: #4d2f2a;
  --earth6: #34221e;
  --earth7: #271916;
  --earth8: #1a110f;
  --earth9: #0d0807;

  --grey0: #f1f4fe;
  --grey1: #e4e6ed;
  --grey2: #c8cad3;
  --grey3: #a9adb9;
  --grey4: #9094a3;
  --grey5: #7f8496;
  --grey6: #777c91;
  --grey7: #63687c;
  --grey8: #595e72;
  --grey9: #4a5167;

  --blue0: #d9e4d8;
  --blue1: #c3d5c2;
  --blue2: #acc6ad;
  --blue3: #96b898;
  --blue4: #7fa985;
  --blue5: #699b72;
  --blue6: #598664;
  --blue7: #4a7055;
  --blue8: #3b5a46;
  --blue9: #2c4436;

  --gumleaf0: #d9e4d8;
  --gumleaf1: #c3d5c2;
  --gumleaf2: #acc6ad;
  --gumleaf3: #96b898;
  --gumleaf4: #7fa985;
  --gumleaf5: #699b72;
  --gumleaf6: #598664;
  --gumleaf7: #4a7055;
  --gumleaf8: #3b5a46;
  --gumleaf9: #2c4436;

  --burnt-orange0: #fed3b4;
  --burnt-orange1: #fc7a44;
  --burnt-orange2: #fc8028;
  --burnt-orange3: #fb4e05;
  --burnt-orange4: #dd4403;
  --burnt-orange5: #be3a03;
  --burnt-orange6: #a53203;
  --burnt-orange7: #971f00;
  --burnt-orange8: #7a1900;
  --burnt-orange9: #270800;

  --green0: #d0e7d0;
  --green1: #b5d9b5;
  --green2: #9acc9a;
  --green3: #7ebe80;
  --green4: #60b066;
  --green5: #3fa24c;
  --green6: #009431;
  --green7: #00772a;
  --green8: #005c23;
  --green9: #00421c;

  --purple: #694582;
  --cauliflower: #eee7cc;

  --retrofit: #244410;
  --decommodify: #840000;
  --collectively: #ffb300;
  --solidarity: var(--purple);

  --main-content-width: 800px;

  --page-gutter: 1.5em;
}

@media screen and (max-width: 480px) {
  :root {
    --page-gutter: 1em;
  }
}
