.retrofit {
  --stream-color: var(--retrofit);
  --stream-background-color: var(--retrofit);
  --text-color-on-background: white;
}

.decommodify {
  --stream-color: var(--decommodify);
  --stream-background-color: var(--decommodify);
  --text-color-on-background: white;
}

.collectively {
  --stream-color: var(--collectively);
  --stream-background-color: var(--collectively);
  --text-color-on-background: black;
}

.solidarity {
  --stream-color: var(--solidarity);
  --stream-background-color: var(--solidarity);
  --text-color-on-background: white;
}

strong.retrofit,
strong.decommodify,
strong.collectively,
strong.solidarity {
  color: var(--stream-color);
}

article section.on-stream-background {
  background-color: var(--stream-background-color);
  color: var(--text-color-on-background);
}

article section.on-stream-background h2,
article section.on-stream-background h3,
article section.on-stream-background h4,
article section.on-stream-background h5,
article section.on-stream-background h6 {
  color: var(--text-color-on-background);
}
