.on-earth {
  color: #eee;
  background: linear-gradient(to bottom, var(--earth-light) 0%, var(--earth) 100px, var(--earth) 100%);
}

.on-earth > .grid-paper {
  background-size: 40px 40px;
  /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px); */
}

.on-earth h1 {
  color: var(--burnt-orange2);
}

.on-earth h2 {
  color: var(--burnt-orange3);
}

.on-earth h3 {
  color: var(--burnt-orange4);
}

.on-earth h4 {
  color: var(--burnt-orange5);
}

.on-earth strong {
  color: var(--burnt-orange6);
}

.on-earth em {
  color: var(--grey2);
}

.on-earth a {
  color: var(--burnt-orange4);
}

.on-earth a:hover {
  color: var(--burnt-orange3);
}

.on-earth code {
  background-color: var(--blue9);
}

.on-earth ul {
  color: var(--grey2);
}

.on-earth aside {
  background-color: var(--blue7);
  border-color: var(--blue9);
  color: var(--grey2);
}

.on-earth nav.between-pages {
  border-color: var(--burnt-orange4);
}
