.home {
  font-size: 13pt;
}

article.home-page {
  width: 100%;
}

.home-page .container {
  max-width: var(--main-content-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--page-gutter);
}

.home-page section p:first-child {
  margin-top: 0;
}

.home-page .section-link-container {
  text-align: right;
}

.home-page a.section-link {
  --height: 40px;
  --color: var(--highlight-color);

  font-weight: bold;
  font-size: 1.3rem;
  background-color: var(--highlight-color);
  color: var(--background-color);
  display: inline-block;
  text-decoration: none;
  padding: 0 0.5em;
  position: relative;
  height: var(--height);
  line-height: var(--height);
  margin-right: calc(var(--height) / 2);
}

.home-page a.section-link:after {
  --half-height: calc(var(--height) * 0.5);

  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  right: calc(-1 * var(--half-height));
  border-left: var(--half-height) solid var(--color);
  border-top: var(--half-height) solid transparent;
  border-bottom: var(--half-height) solid transparent;
}

.home-page section .with-side-image {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.home-page section.home-hero {
  font-size: 2.2em;
  line-height: 1.4;
  position: relative;

  background-color: white;
  background-image: url("/images/sections/bricks_background.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;

  color: var(--cauliflower);

  p {
    margin: 0;
  }

  h1 {
    margin: 0;
    color: var(--cauliflower);

    @media screen and (max-width: 576px) {
      font-size: 1.8em;
    }
  }

  .slightly-dimmed {
    color: var(--cauliflower);
  }

  .home-hero-inner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }

  .rad {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%);
    font-size: 1.2rem;
  }
}

.home-page .rad .rad-purpose {
  font-size: 2.2rem;
  line-height: 1.4em;
  font-family: monospace;
  padding-bottom: calc(var(--page-gutter) * 0.5);
  padding-top: 0.5rem;
}

.home-page .rad-purpose .retrofit {
  background-color: var(--retrofit);
  color: white;
  padding: 0 0.2em;
}

.home-page .rad-purpose .decommodify {
  background-color: var(--decommodify);
  color: white;
  padding: 0 0.2em;
}

.home-page .rad-purpose .collectively,
.home-page .rad-purpose .solidarity {
  background-color: white;
  color: black;
  padding: 0 0.2em;
}

.home-page section.project,
.home-page section.values,
.home-page section.seedling {
  font-size: 1.7rem;
}

.home-page section strong,
.home-page section h2 {
  color: var(--highlight-color);
}

.home-page section.multi-house {
  font-size: 1.5rem;
}

.home-page section.multi-house h2 {
  font-size: 2rem;
}

.home-page .topic {
  background-color: var(--background-color);
  color: var(--color);

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.home-page .topic .container {
  padding-top: calc(var(--page-gutter) * 2);
  padding-bottom: calc(var(--page-gutter) * 2);
}

/* COLOR SECTIONS */

.home-page .on-purple {
  --highlight-color: var(--yellow);
  --background-color: var(--purple);
  --color: var(--yellow);

  background-image: url("/images/sections/purple/background_landscape.svg");

  @media screen and (max-width: 576px) {
    background-image: url("/images/sections/purple/background_portrait.svg");
  }
}

.home-page .on-cauli {
  --highlight-color: var(--dirt);
  --background-color: var(--cauliflower);
  --color: var(--dirt);

  background-image: url("/images/sections/cauli/background_landscape.svg");

  @media screen and (max-width: 576px) {
    background-image: url("/images/sections/cauli/background_portrait.svg");
  }
}

.home-page .on-blue {
  --highlight-color: var(--pink);
  --background-color: var(--blueprint);
  --color: var(--pink);

  background-image: url("/images/sections/blueprint_background.svg");
  background-size: contain;
  background-position: center bottom;
}

.home-page .on-dirt {
  --highlight-color: var(--grass);
  --background-color: var(--dirt);
  --color: var(--grass);

  background-image: url("/images/sections/dirt_background.svg");
  background-position: center;

  @media screen and (max-width: 576px) {
    background-size: contain;
  }
}
